#bt_Submit {
    background-color: rgb(77, 77, 196);
}

.addTask {
    display: inline-block;
    width: 80%;
    height: 200px;
    border: 2px solid rgba(75, 51, 59, 0.148);
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

#taskqueue {
    display: inline-block;
    width: 80%;
    height: 100px;
    border: 2px solid rgba(75, 51, 59, 0.148);
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

#group {
    display: flex;
}

#edit {
    background-color: blue;
    height: 20px;
    width: 50px;
}

#delete {
    background-color: red;
    height: 20px;
    width: 50px;
}